body {
    margin: auto;
}

.col-container {
    display: table; 
    width: 100%; 
    
}

.col {
    margin: 200px;
    display: table-cell;
    color: lightcoral;
    position: relative;
    line-height: 0.9;
    text-align: center;
    font-size: 1rem;
}

.box-center {
    border-left: black solid 7px;
    border-right: black solid 7px;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(./imgs/Abstract_Constellation_5K_Wallpapers.jpg);
    background-size: cover;
    background-position: top center;
    opacity: 0.7;
}
